.calculatorPage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "currencies currencies" "calculator result";
  height: 100%;

  .currencies {
    grid-area: currencies;
  }

  .calculator {
    grid-area: calculator;
  }

  .result {
    grid-area: result;
  }
}