.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .err {
    font-size: 18px;
    text-transform: uppercase;
    color: red;
    width: 300px;
    text-align: center;
    margin-bottom: 24px;
  }

  .btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-bottom: 24px;
  }
}